.daily-calendar {
    width: 90%;
    height: 100%;
    margin: 2% 5% 2% 5%;
    background-color: aqua;
    display: flex;
}

.calendar-event {
    width: 80%;
    background-color: red;
}

.hours-column {
    width: 20%;
    height: 100%;
    background-color: blue;
}